# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=a1be40820afa0852005b36552b8623c51447a179ff42af6f0c960d42c035e333

# MongoDB Configuration
#MONGO_URI=mongodb://localhost:27017/budgetsense
# Or for MongoDB Atlas:
MONGO_URI=mongodb+srv://budgetsense_user:cVdkafzTmSFn6j7V@budgetsense-cluster.jom2gi.mongodb.net/?appName=BudgetSense-Cluster

# Upload Configuration
UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=16777216  # 16MB max file size

# OCR (optional)
PYTESSERACT_PATH=/path/to/tesseract.exe  # Only for Windows